@font-face {
    font-family: amazon-embar;
    src: url(amazon.ttf);
}

@font-face {
    font-family: amazon-italic;
    src: url(amazon-italic.ttf);
}

@font-face {
    font-family: amazon-bold;
    src: url(amazon-bold.ttf);
}

@font-face {
    font-family: amazon-bold-italic;
    src: url(amazon-bold-italic.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'amazon-embar';
    height: 100vh;
    width: 100%;
    background-color: #090909;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-bar {
    position: fixed;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-radius: 0px 0px 10px 10px;
    isolation: isolate;
}

.nav-bar::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0px 0px 10px 10px;
    z-index: -1;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.nav-bar a:hover {
    background-color: white;
    border-radius: 8px;
    color: black;
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-content: center;
    position: relative;
}

.left-nav img {
    width: 80px;
    height: 25px;
    margin-right: 20px;
}

.language {
    top: 70px;
    right: 0;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: white;
    font-weight: 600;
    justify-content: start;
    align-items: start;
    padding: 20px 25px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;

    background: rgba(20, 20, 35, 0.45);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);

    transition:
        opacity 0.25s ease,
        visibility 0.25s ease;
        
}

.language-box-button:hover+.language {
    visibility: visible;
}

.language span:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 10px;
    transform: scale(1.05);
}

.ri-function-add-fill {
    margin-right: 5px;
}

.right-nav .rounted-100:hover {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 50%;
}

.right-nav button {
    padding: 10px;
    border-radius: 8px;
    background-color: #1A98FF;
    border: none;
    color: white;
    font-weight: 600;
}

.right-nav button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 50px #b4ddff;
}

.hero {
    height: 88%;
    width: 100%;
    background-size: cover;
    background-image: url(https://m.media-amazon.com/images/S/sonata-images-prod/PV_IN_TomClancysJackRyanGhostWar_Solo/10ee98ee-a065-4752-83c4-54a10381596d._UR3840,1440_SX2160_FMwebp_.jpeg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.hero-box {
    width: 90%;
}

.hero-detail {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 15px;
}

.hero-prime-logo {
    height: 60px;
    width: 60px;
}

.hero-movie-name {
    height: 200px;
    width: 320px;
    display: block;
}

.hero-detail p {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.hero-detail .hero-rank {
    color: #37F1A3;
    font-size: 18px;

}

.hero-detail .hero-rank .ri-funds-box-line {
    font-size: 26px;
}

.hero-button-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-join-prime-button {
    height: 65px;
    width: 140px;
    background-color: rgba(130, 130, 130, 0.4);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}

.hero-add-button,
.hero-detail-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(130, 130, 130, 0.4);
    font-size: 20px;
    color: white;
}

.ri-shopping-bag-fill {
    color: gold;
    margin-right: 10px;
}

.hero-watch {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.top-movies {
    width: 100%;
}

.top-movies-box {
    margin: 12px;
}

.movies-manu {
    position: relative;
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 8px;
}

.movies-manu-box {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    scrollbar-width: none;
    height: 200px;
}

.top-movies-box h1 {
    padding: 20px;
}

.front {
    height: 100px;
    width: 100px;
}

.back {
    position: absolute;
    left: 80px;
    height: 150px;
    width: 230px;
    box-shadow: 0px 10px 50px #2d2d2d;
    border-radius: 8px;
}

.back:hover {
    transform: scale(1.09);
}

.movies-box {
    display: flex;
}

.movies-image img {
    height: 150px;
    width: 280px;
    margin: 10px;
    border-radius: 8px;
}

.movies-image img:hover {
    transform: scale(1.09);
}

h1 span {
    margin-left: 30px;
    font-size: 24px;
}

.ri-arrow-right-wide-line {
    font-size: 16px;
    font-weight: 400;
}