*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.first{
    height: 450px;
    width: 350px;
    background-color: bisque; 
    padding: 10px 20px;

}
.second{
    height: 250px;
    width: 200px;
    background-color: burlywood;
    padding: 10px 20px;
}
.third{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
}

.div{
    margin: 10px;
    height: 150px;
    width: 350px;
    background-color: darkslateblue;
    border-radius: 0px 100px 0px 50px;
    border: 5px solid black;
}

.img{
    height: 200px;
    width: 250px;
    background-color: lightskyblue;
    padding: 15px;
}

.img1{
    height: 150px;
    width: 200px;
    background-color: navajowhite;
    padding: 10px 20px;
}

.pic{
   margin: 10px;
    height: 100px;
    width: 150px;
    background-color: lightcoral;
    border: 2px solid black;
}

.pic2{
    margin: 15px 25px;
    height: 150px;
    width: 250px;
    background-color: lightseagreen;
    border: 2px solid black;
}


.box{
    margin: 20px;
    height: 300px;
    width: 450px;
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 50px 50px 50px 50px;
}
.box1{
    margin: 10px;
    height: 250px;
    width: 400px;
    background-color: lightpink;
    padding: 15px 20px;
    border-radius: 50px 0px 50px 0px;
}
.box2{
    margin: 10px;
    height: 200px;
    width: 350px;
    background-color: paleturquoise;
    padding: 15px;
    border-radius: 0px 50px 0px 50px;
}

