*{
    box-sizing: border-box;
}

body{
    padding: 10px;
    margin: 10px;
}

.box{
    height: 450px;
    width: 400px;
    background-color: rgb(193, 254, 217);
    padding-left: 25px;
    padding-top: 20px;
}

.inner-box{
    height: 350px;
    width: 350px;
    background-color: rgb(41, 69, 245);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 10px;
   
}
.img{
    height: 310px;
    width: 310px; 
    border-radius: 8px; 
    margin-top: 10px;
}

.box2{
    height: 350px;
    width: 400px;
    background-color: rgb(219, 219, 219);
    font-size: 30px; 
    text-align: center;
    border-radius: 10px;
    border: 3px blue solid;
    margin-top: 10px;
    



}
.para{
 
    text-align: center;
    padding: 10px;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 8px;
}




.inner-box-3{
    height: 210px;
    width: 280px;
    background-color:white;
    margin-left: 55px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 8px;

}
.role{
    font-size: 20px;
}

.para-2{
    font-size: 20px;
}

.img-2{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 3px green solid;
    background-color: aqua;
}
.p{
    justify-content: center;
    font-size: 20px;
}

.box3{
    height: 450px;
    width: 450px;
    background-color: rgb(207, 195, 178);
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 25px;
    justify-content: center;
    margin-top: 20px;
}

.inner-box-5{
    height: 390px;
    width: 390px;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;  
   
}
      

.sp{
    color: rgb(84, 4, 28);
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 25px;
    padding-top: 50px;
    
}

.sp2{
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 50px;
}



.img-3{
    height: 130px;
    width: 150px;
    text-align: end;
    margin-left: 220px;
    margin-bottom: 30px;
        

}

.button{
    height: 40px;
    width: 300px;
    background-color:rgb(3, 205, 205);
    border-radius: 8px;
    padding-left: 30px;
    text-align: center;
    align-content: center;
    color: rgb(33, 28, 42);
    margin-left: 45px;


}

.ic{
    font-size: 20px;
    letter-spacing: 15px;
}

.p1{
    font-size: 23px;
    padding-left: 70px;
}

.p2{
    font-size: 23px;
    padding-left: 50px;
}
.p3{
    font-size: 23px;
    padding-left: 70px;
}

