*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}
.box-1  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 350px;
    width: 300px;
    background-color: #EFEFEF;
    padding: 30px 12px;
}
.section-2{
    margin: 10px;
    height: 250px;
    width: 250px;
    background-color: #1588E9;
    padding: 12px;
}
#img {
    margin: 6px;
}

.d-flex {
    display: flex;
    justify-content: space-around;
}

.first{
    height: 350px;
    width: 230px;
    background-color: #F2F2F2;
    margin: 10px;
    padding: 10px;
    border: 3px solid #1154CC;
}
.second{
    text-align: center;
    padding: 39px;
    font-size: 26px;
    text-transform: capitalize;
    padding: 8px;
    font-weight: 600;
    
}

.third{
    height: 180px;
    width: 180px;
    background-color: white;
    margin: 30px 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

.third p {
    font-size: 14px;
}

.third i{
    color: green;
}

.img-1{
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid green;
    margin: 10px;
}
b{
    font-size: 18px;
}

.div-1 {
    width: 300px;
    height: 320px;
    background-color: rgb(231, 230, 230);
    padding: 10px;
}

.div-2 {
    width: 250px;
    height: 250px;
    background-color: rgb(249, 250, 251);
    margin: 20px 10px;

}
.div-1 p {
    color: #626262;
}
.krish {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 5px;
}
.krish span {
    color: #5baff4;
}

img {
   margin-left: 40px;
   margin-top: 10px;
}
button{
    height: 30px;
    width: 200px;
    margin: 5px 20px;
    background-color: #198FFA;
    color: white;
    font-size: 20px;
    border: none;
}

.p1 {
    display: flex;
    justify-content: center;
    color: #626262;
}