* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.main {
    border: 3px solid black;
    margin: 10px;
}

.nav {
    background-color: #2C3E50;
    padding: 24px;
    text-align: center;
    color: white;
}

.bar {
    display: flex;
}

.left-manu-bar {
    width: 20%;
    background-color: white;
    padding: 10px;
}

.left-manu-bar h2 {
    margin: 15px 0px;
}

.left-manu-bar p {
    margin: 5px 0px ;
}

.right-manu-bar {
    
}