@font-face {
  font-family: 'MyFont';
  src: url('Caveat/myfont.ttf') format('truetype');
  
}

body {
  
  font-family: 'MyFont', cursive;
  
}

.para{
    color: crimson;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;


}
.p1{
  color:blue;
  font-size: 20px;
  
}
.ic{
  color: black;
  font-size: 30px;
}